body {
    margin: 0;
    background: radial-gradient(#0f0f0f, #000000);
    font-family: Arial, sans-serif;
    overflow: hidden;
    text-align: center;
}

.title {
    color: #00eaff;
    font-size: 28px;
    margin-top: 10px;
    text-shadow: 0 0 10px #00eaff;
}

#gameCanvas {
    display: block;
    margin: 20px auto;
    background: #111;
    border: 4px solid #00eaff;
    box-shadow: 0 0 25px #00eaff;
}
